body {
    background-color: #0d0312;
}

/*taken from http://fonts.googleapis.com/css?family=Oswald and modified*/
/* latin */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/oswald/v49/TK3_WkUHHAIjg75cFRf3bXL8LICs1_FvsUZiZQ.woff2) format('woff2');
}

.top {
    margin: 0.25% auto;
    color: #fff;
    width: 99.25%;
    font-size: 20px;
    font-family: 'Oswald', arial;
    /*border-width: 1px;
    border-radius: 3px;
    outline-width: 0.125%;
    outline-color: #f4bccd;
    outline-style: auto;
    border-color: #f4bccd;
    text-align: center;*/
}
.bottom {
    position: fixed;
    margin: 0.25% auto;
    color: #fff;
    width: 99.25%;
    font-size: 12px;
    font-family: arial;
    bottom: 0px;
}
.tryit {
    text-align: center;
    width: 200px;
    height: 150px;
    background: lightblue;
    border-width: 0;
    border-radius: 3px;
    font-size: 30px;
    font-family: courier;
    transition-duration: 0.5s;
    box-shadow: 2px #ddd;
}
.tryit:hover {
    text-align: center;
    position: relative;
    width: 200px;
    height: 150px;
    background: lightblue;
    border-width: 0;
    border-radius: 3px;
    font-size: 30px;
    font-family: courier;
    transform: translateY(-5px);
    box-shadow: 5px 0px #ddd;
    
}
.tryit:active {
    text-align: center;
    width: 200px;
    height: 150px;
    background: lightblue;
    border-width: 0;
    border-radius: 3px;
    font-size: 30px;
    font-family: courier;
    transform: translateY(7px);
    box-shadow: 0px 0px #ddd;
}

.button {
    text-align: center;
}

h1 {
    font-size: 32px;
}
.container {
    display:grid;
    grid-template-columns: 99.25%;
    grid-template-rows: 60% 39%;
}
